.logIn{
    background-color: aqua;
    width: 80vw!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 10vw;
    
}